[shopCart]
==
<!doctype html>
<html>
    <head>
        <title>oc-shop-theme</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
        <link href="{{ 'assets/bin/style.min.css'|theme }}" rel="stylesheet">
    </head>
    <body>
        {% partial 'navigation' %}
        <div class="container">
            {% page %}
            {% partial 'footer' %}
        </div>
        <script type="text/javascript" src="{{ [
            '@jquery',
            '@framework',
        ]|theme }}"></script>
        {% scripts %}
    </body>
</html>